# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# gin
gin-bin

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

# bower .gitignore
/node_modules
/npm-debug.log

/bower.json
/bower_components

# js bundle
/public/javascripts/app.js

tags

# API Keys and such
.env
